<div class="footer-newsletter">
  <p>Inscreva-se na newsletter do <strong>Manual</strong>:</p>
  <form action="https://sendy.manualdousuario.net/subscribe" method="post" accept-charset="utf-8">
    <label for="bd-email" style="display: none">E-mail</label>
    <input type="email" name="email" id="bd-email" required>
      <input type="hidden" name="list" value="5hbIBhgttipQeZXjMcG0jA">
      <input type="hidden" name="subform" value="yes">
    <button type="submit">Cadastrar</button>
  </form>
</div>

  <footer>
    <p><strong>PC do Manual</strong> é uma plataforma de aplicações de código aberto derivada do site <a href="https://manualdousuario.net">Manual do Usuário</a>.</p>
    <p>Contato: <a href="mailto:suporte@manualdousuario.net">suporte@manualdousuario.net</a></p>
    <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR">CC BY-NC SA 4.0</a> &middot; 2023–2024</p>
  </footer>

</body>
</html>