/* CSS Reset by https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Variáveis globais */
:root {
 --sem-serifa: system-ui, sans-serif;
 --serifa: Georgia, serif;
 --cor-fonte: #2a2a2a;
 --cor-fundo: #f9f9f9;
 --cor-link: #1D43B4;
 --cor-link-alt: #191970;
 --cor-service: rgb(232, 232, 232);
}

/* Leiaute */
body {
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: var(--cor-fundo);
  color: var(--cor-fonte);
  font-family: var(--sem-serifa);
  font-size: 1rem;
}

a {
  color: var(--cor-link);
}

a:hover, a:active {
  color: var(--cor-link-alt);
}

header {
  text-align: center;
}
header img {
  max-width: 300px;
}

nav {
  margin-bottom: 2rem;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li {
  margin: 0 .4rem;
}

.services {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: start;
}

.services a {
  text-decoration: none;
}

.service {
  border-radius: 1em;
  padding: 1rem;
  background-color: var(--cor-service);
  min-height: 12rem;
}

.service h2 {
  font-size: 1.2rem;
  text-transform: lowercase;
}

.service p {
  margin: 1rem 0;
}

.service p:last-child {
  margin-bottom: 0;
}

.premium h2:after {
  content: "⭐️";
  height: 0;
  display: inline;
  position: relative;
  left: 5px;
}

.subscribers {
  margin: 2rem auto 0;
  font-size: 95%;
  text-align: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

.content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content h2 {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* Mobile */
@media only screen and (max-width: 570px) {
  body {
    margin: 2rem 0;
  }

  .services {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
}

/* Modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --cor-fonte: rgb(237, 237, 237);
    --cor-fundo: #080808;
    --cor-link: rgb(108, 147, 255);
    --cor-link-alt: rgb(166, 189, 255);
    --cor-service: #36363699;
  }

  header img {
    filter:invert(90%)
  }
}
