---
layout: default
---
<main>

  <div class="blocos-de-apps">

    <div class="bloco-app">
      <h2><img src="/assets/stirling-pdf.svg" alt="Logo do Stirling PDF" width="32" height="32"><span>Stirling PDF</span></h2>
      <p>Canivete-suíço para arquivos PDF, com processamento local.</p>
      <ul>
        <li><a href="https://pdf.pcdomanual.com/" class="link-app">Acesse</a>
        </li>
        <li><a href="https://github.com/Stirling-Tools/Stirling-PDF">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/vert.svg" alt="Logo do Vert" width="32" height="32"><span>Vert</span></h2>
      <p>Conversor de arquivos de imagem e áudio com processamento local.</p>
      <ul>
        <li><a href="https://converta.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/VERT-sh/VERT">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/wallabag.svg" alt="Logo do Wallabag" width="32" height="32" class="logo-escuro"><span>Wallabag</span></h2>
      <p>Salve, organize e leia páginas da web quando quiser.</p>
      <ul>
        <li>⭐️ <a href="https://wallabag.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/wallabag/wallabag">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/marreta.svg" alt="Logo do Marreta" width="32" height="32"><span>Marreta</span></h2>
      <p>Chapéu de paywall é marreta! (Quebrador de paywalls.)</p>
      <ul>
        <li><a href="https://marreta.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/manualdousuario/marreta">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/sintoniza.svg" alt="Logo do Sintoniza" width="32" height="32" class="logo-escuro"><span>Sintoniza</span></h2>
      <p>Sincronização de podcasts para apps como AntennaPod.</p>
      <ul>
        <li><a href="https://sintoniza.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/manualdousuario/sintoniza">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/it-tools.svg" alt="Logo do IT-Tools" width="32" height="32"><span>IT-Tools</span></h2>
      <p>Pequenas ferramentas úteis para desenvolvedores.</p>
      <ul>
        <li><a href="https://ti.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/CorentinTh/it-tools">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/lerama.svg" alt="Logo do Lerama" width="32" height="32" class="logo-escuro"><span>Lerama</span></h2>
      <p>Diretório de blogs pessoais baseados em feeds RSS e Atom.</p>
      <ul>
        <li><a href="https://lerama.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/manualdousuario/lerama">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/searxng.svg" alt="Logo do SearXNG" width="32" height="32"><span>SearXNG</span></h2>
      <p>Meta-buscador web hackeável e que respeita a sua privacidade.</p>
      <ul>
        <li><a href="https://busca.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="https://github.com/searxng/searxng">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/miniflux.svg" alt="Logo do Miniflux" width="32" height="32" class="logo-escuro"><span>Miniflux</span></h2>
      <p>Agregador de feeds RSS/Atom minimalista e fácil de usar.</p>
      <ul>
        <li>⭐️ <a href="https://miniflux.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="/miniflux/">docs</a></li>
        <li><a href="https://github.com/miniflux/v2">código</a></li>
      </ul>
    </div>

    <div class="bloco-app">
      <h2><img src="/assets/linkding.svg" alt="Logo do Miniflux" width="32" height="32"><span>Linkding</span></h2>
      <p>Gerenciador de links/favoritos leve e poderoso.</p>
      <ul>
        <li>⭐️ <a href="https://linkding.pcdomanual.com/" class="link-app">Acesse</a></li>
        <li><a href="/linkding/">docs</a></li>
        <li><a href="https://github.com/sissbruecker/linkding">código</a></li>
      </ul>
    </div>

    <p class="exclusivos">⭐️ Exclusivos para <a href="https://manualdousuario.net/apoie/">assinantes do <strong>Manual</strong></a>.</p>
  </div>
  <h2>Novidades</h2>
  <ul class="lista-noticias">
    {% for post in site.categories.noticias limit: 5 %}
    <li>
      <span>{{ post.date | date: "%-d/%-m/%Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
